.navbar {
    box-shadow: 0 2px 0px 0 rgba(0,0,0,.12);
}

.navbar__divider {
    background-color: rgba(0,0,0,.12);
}

.navbar__button_location {
    margin-right: -5px;
}

.navbar__submitButton {
    background-color: #a62626;
}

.navbar__label {
    width: 500px;
    background-color: #ded8d848;
    input {
        background-color: transparent;
    }
}

.showCategory {
    position: relative;
}

.navbar__category {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.08), 0 -8px 32px -4px rgba(0,0,0,.04), 0 16px 24px -6px rgba(0,0,0,.04);
    min-height: 400px;
    max-height: 520px;
    width: -webkit-fill-available;
}

.dark {
    nav {
        background-color: #696565;
    }
    .navbar__section {
        background-color: #696565;
    }
    .navbar__button {
        background-color: #696565;
        color: #fff;
    }

    .navbar__logo {
        background-color: #696565;
    }

    .navbar__button__theme {
        background-color: #9a9797;
        color: #fff;
    }

    .navbar__button:hover {
        background-color: rgba(247, 240, 240, 0.16);
        border-radius: 4px;
        opacity: 1;
        transition: color .6s ease,background-color .6s ease,box-shadow .6s ease,border-color .6s ease,transform .6s ease;
    }

    .navbar__category {
        background-color: #a4a4a4;
        left: 0px;
        color: #fff;
        a {
            color: #dbd3d3;
        }
        a:hover {
            color: #fff;
        }
    }
    .navbar__category__img {
       button {
            color: #766e6e;
        }    
    }
}