.swiper {
  --swiper-navigation-size: 15px;
  --swiper-navigation-color: rgb(255, 255, 255);
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 15px;
  --swiper-navigation-font-weight: 900;;

  --swiper-pagination-color: rgb(255, 255, 255);
  --swiper-pagination-backgrond-color: rgb(255, 255, 255);
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: #fffdfd;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
}
