.contaner {
    max-width: 450px;;
}

.right_section {
    flex: 0 0 41.6666666667%;
}

.left_section {
    flex: 0 0 50%;
    max-width: 50%;
}

.kt_page_title__texts {
    flex: 1 1;
    order: 1;
} 
