.contaner {
    max-width: 1024px;;
}

.right_section {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.left_section {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 8.3333333333%;
}

.kt_page_title__texts {
    flex: 1 1;
    order: 1;
} 
