.dark {
    background-color: #696565;
    h1 {
        direction: ltr;
        color: #d2caca;
    }
    .main__item {
        color: #cfcece;
        span {
            color: #d2caca;
        }
    }
}