.Sidebar__container {
  height: calc(100vh - 64px);
  overflow: auto;
  position: fixed;
  
}

.Side__button__filterPlace {
  Input {
    font-family: "iranyekanwebregular";
    border: 1px solid rgb(4 4 4 / 18%);
  }
}

.Side__button__filterPrice {
  
    div span {
      font-size: 10px;
    }
    div Input{
      font-family: "iranyekanwebregular";
      border: 1px solid rgb(4 4 4 / 18%);
    }
}

.Side__slider {
  background-color: #ccc;
}
.Side__slider:before {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  content: "";
  border-radius: 50%;
}
.Side__slider.Side__round {
  border-radius: 34px;
}
.Side__sliderb {
  background-color: #2196F3;
}
.Side__sliderb:before {
  position: absolute;
  height: 10px;
  width: 10px;
  right: 2px;
  bottom: 2px;
  background-color: #fff;
  content: "";
  border-radius: 50%;
  content: "";
  border-radius: 50%;
}
.Side__sliderb.Side__round {
  border-radius: 34px;
}
.Side__toggleSwitchFilter {
  color: rgba(0,0,0,.87);
}

.dark {
  position: fixed;
  top: 80px;
  overflow: auto;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 2;
  height: calc(100vh - 64px);
  padding: 32px 16px 0 16px;
  width: 280px;
  .Sidebar__menu__title {
    background-color: #696565;
    color: #ede3e3;
  }
  .Side__button__item {
    background-color: #696565;
    color: #ede3e3;
    span {
      color: #ede3e3;
    }
  }
  .Sidebar__menu__item {
    background-color: #696565;
    color: #fff;
  }
}
