@font-face {
    font-family: 'iranyekanwebregular';
    src: local('iranyekanwebregular'),
    url('./assets/fonts/iranyekanwebregular.woff') format('woff');
  }

  .app {
    font-family: 'iranyekanwebregular';
    min-width: 992px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: fit-content;
  }

.dark {
  background-color: #696565;
  font-family: 'iranyekanwebregular';
  min-width: 992px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: fit-content;


}

* a {
  text-decoration: none;
  color: rgb(179, 176, 176);
  transition: color .6s ease,background-color .6s ease,box-shadow .6s ease,border-color .6s ease,transform .6s ease;
}

* ul {
  padding: 0;
}

@media (max-width: 1200px) {
  .app {
    min-width: 576px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .app {
    min-width: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    width: 100%;

  }
}
