.main {
    padding: 0 0 0 16px;
    margin-right: 350px;
    width: auto;
    min-height: 100px;
    position: relative;
    top: 20px;
    height: auto;
}

.showCategoryNav {
    z-index: -2;
}

.main {
    h1 {
        padding-bottom: 8px;
        text-align: left;
        display: block;
        color: rgba(0,0,0,.56);
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 0;
    }
}

.mainItem {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: static!important;
    width: 100%;
    height: 100%;
    gap: 16px

}

.dark {
    background-color: #696565;
    padding: 0 0 0 16px;
    margin-right: 350px;
    width: auto;
    min-height: 100px;
    position: relative;
    top: 20px;
    height: auto;
    h1 {
        color: #d2caca !important;
    }
    .mainItem {
        color: #cfcece !important;
        span {
            color: #d2caca;
        }
    }
}

@media (max-width: 768px) {
    .main {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .mainItem {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}